<div class="surface-overlay py-3 px-6 flex align-items-center justify-content-between relative lg:static"
     style="min-height: 80px;">
  <img src="./images/logo.png" alt="Image" height="40"
       class="mr-0 lg:mr-6">
  <a pRipple pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden"
     class="cursor-pointer block lg:hidden text-700">
    <i class="pi pi-bars text-4xl"></i><span class="p-ink"></span>
  </a>
  <div

    class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
    <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
      <li>
        <a pRipple
           routerLink=""
           class="no-underline flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"><i
          class="pi pi-home mr-2"></i>
          <span>Početna</span>
          <span class="p-ink"></span>
        </a>
      </li>
      <li class="lg:relative">
        <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
           leaveActiveClass="fadeout"
           class="p-element p-ripple flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
          <i class="pi pi-shop mr-2"></i>
          <span>Kategorije</span>
          <i class="pi pi-angle-down ml-auto lg:ml-3"></i>
          <span class="p-ink" style="height: 165px; width: 165px; top: -61.3778px; left: -9.40338px;"></span>
        </a>
        <ul
          class="list-none py-0 px-6 m-0 lg:px-0 border-round shadow-0 lg:shadow-2 lg:border-1 border-50 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer">
          <li class="relative">
            <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
               leaveActiveClass="fadeout"
               class="p-element p-ripple flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
              <i class="pi pi-mars mr-2"></i>
              <span class="font-medium">Muška</span>
              <i class="pi pi-arrow-down ml-auto lg:-rotate-90"></i>
              <span class="p-ink"></span>
            </a>
            <ul
              class="list-none py-0 pl-3 m-0 lg:px-0 border-round shadow-0 lg:shadow-2 lg:border-1 border-50 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer left-100 top-0">
              <li>
                <a pRipple
                   class="p-ripple p-element flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <i class="pi pi-shopping-cart mr-2"></i>
                  <span class="font-medium">Odeća</span>
                  <span class="p-ink"></span>
                </a>
              </li>
              <li class="relative">
                <a pRipple
                   class="p-ripple p-element flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <i class="pi pi-comments mr-2"></i>
                  <span class="font-medium">Obuća</span>
                  <span class="p-ink"></span>
                </a>
              </li>
            </ul>
          </li>
          <li class="relative">
            <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
               leaveActiveClass="fadeout"
               class="p-element p-ripple flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
              <i class="pi pi-venus mr-2"></i>
              <span class="font-medium">Ženska</span>
              <i class="pi pi-arrow-down ml-auto lg:-rotate-90"></i>
              <span class="p-ink"></span>
            </a>
            <ul
              class="list-none py-0 pl-3 m-0 lg:px-0 border-round shadow-0 lg:shadow-2 lg:border-1 border-50 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer left-100 top-0">
              <li>
                <a pRipple
                   class="p-ripple p-element flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span class="font-medium">Odeća</span>
                  <span class="p-ink"></span>
                </a>
              </li>
              <li class="relative">
                <a pRipple
                   class="p-ripple p-element flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span class="font-medium">Obuća</span>
                  <span class="p-ink"></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none">
      <li>
        <a pRipple
           routerLink="cart"
           class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
          <i pBadge severity="danger" class="pi pi-shopping-cart text-base lg:text-2xl mr-2 lg:mr-0"></i>
          <span class="block lg:hidden font-medium">Korpa</span>
          <span class="p-ink"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
